app:
  name: "Gala ENSIM"
  illustration-image: ""
  public-base-url: "https://ad-scan.reniti.fr"
  security:
    password: "test"

  wallet:
    name: "Gala ENSIM"
    background-color: "#2b3a55"
  google-wallet:
    issuer-id: "1234567890123456789"
    class-suffix: "bde_membership"
    service-account-key-path: "data/google-wallet-service-account.json"
  apple-wallet:
    pass-type-identifier: "pass.fr.reniti.adscan.membership"
    team-identifier: "ABCDE12345"
    p12-path: "data/apple-wallet-pass.p12"
    p12-password: "changeMoi"
    wwdr-cert-path: "data/apple-wallet-wwdr.pem"
